trunk/src/libCharacterDisplayMenu/resources/menu.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT menu (item+)>
<!ELEMENT item (item+|implementation-class)>
<!ATTLIST item
   text CDATA        #REQUIRED
>

<!ELEMENT implementation-class (property*)>
<!ATTLIST implementation-class
   name CDATA        #REQUIRED
>

<!ELEMENT property (#PCDATA)>
<!ATTLIST property
   key CDATA         #REQUIRED
   value CDATA       #IMPLIED
>
